
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: 
            linear-gradient(to right, #D1E9F6,#EECAD5),
            url('photo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #333;
}


header {
    background: #B4D6CD;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    margin: 0;
    color: #FFDA76;
    font-family: 'Zilla Slab', serif;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}
header a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem 0;
}

main .container {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section {
    margin-bottom: 2rem;
}

.about-section h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.about-section p {
    font-size: 1.1rem;
    color: #333;
}

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.team-member {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    width: calc(33% - 1rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-member img {
    border-radius: 50%;
    margin-bottom: 1rem;
    max-width: 100px;
    height: auto;
}

.team-member h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.team-member p {
    font-size: 1rem;
    color: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}
