* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: 
            linear-gradient(to right, #D1E9F6,#EECAD5),
            url('photo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #333;
}


header {
    background: #B4D6CD;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    margin: 0;
    color: #021526;
    font-family: 'Zilla Slab', serif;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}
header a {
    text-decoration: none;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem 0;
}

main .container {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Order History Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 20px; /* Increased padding */
    text-align: left;
    font-size: 18px; /* Increased font size */
}

th {
    background-color: #f4f4f4;
}

tbody tr {
    height: 60px; /* Increased row height */
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}




footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}
