* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: linear-gradient(to right, #D1E9F6, #EECAD5), url('photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

header {
    background-color: #B4D6CD; 
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header  h1 {
    margin: 0;
    color: #021526;
    font-family: 'Zilla Slab', serif;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}
header a {
    text-decoration: none;
}

nav {
    background-color: #B4D6CD;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #FFDA76; 
    text-decoration: underline; 
}

main {
    padding: 2rem 0;
}

main .container {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 2rem;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wishlist-section {
    margin-top: 20px;
}

.wishlist-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-details h3 {
    margin: 0;
    font-size: 22px;
}

.product-details p {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.move-to-cart {
    background-color: #399918;
    color: white;
    margin-bottom: 10px;
}

.remove-item {
    background-color: #EB3678;
    color: white;
}

button:hover {
    opacity: 0.9;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}
